<form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col gap-4 pt-2">

  <div class="flex flex-col gap-1">
    <label>Nome *</label>
    <input pInputText formControlName="nome" placeholder="Nome completo" />
    @if (isInvalid('nome')) {
      <small class="text-red-500">Nome é obrigatório.</small>
    }
  </div>

  <div class="flex flex-col gap-1">
    <label>CPF *</label>
    <input pInputText formControlName="cpf" placeholder="000.000.000-00" />
    @if (isInvalid('cpf')) {
      <small class="text-red-500">CPF é obrigatório.</small>
    }
  </div>

  <div class="flex flex-col gap-1">
    <label>Email *</label>
    <input pInputText formControlName="email" placeholder="email@exemplo.com" />
    @if (isInvalid('email')) {
      <small class="text-red-500">Email inválido.</small>
    }
  </div>

  <div class="flex flex-col gap-1">
    <label>Telefone</label>
    <input pInputText formControlName="telefone" placeholder="(00) 00000-0000" />
  </div>

  <div class="flex flex-col gap-1">
    <label>Data de Nascimento *</label>
    <p-datepicker formControlName="dataNascimento" dateFormat="dd/mm/yy"
                  [showIcon]="true" [maxDate]="today"></p-datepicker>
    @if (isInvalid('dataNascimento')) {
      <small class="text-red-500">Data de nascimento é obrigatória.</small>
    }
  </div>

  <p-button type="submit" label="Cadastrar" [loading]="submitting" class="mt-2" />

</form>
